<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu (${{ totalPrice$ | async | number:'1.1-3' }})</div>
    <div>
      <button type="button" class="btn btn-primary" [routerLink]="['/place-order']">
        Place Order ({{ totalQuantity$ | async }})
      </button>
    </div>
  </div>
</div>

<!-- each row display a single mene item -->
<div class="row mb-2">
  <div class="col">
    <div class="menu-item" *ngFor="let m of menus$ | async ">
      <div>
        <button type="button" class="btn btn-warning" (click)="removeItem(m)">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="menu-details">
        <div>Name: <span class="fw-bold"> {{ m.name }} </span> </div>
        <div>Description:
          <span class="fst-italic">
            {{ m.description }}
          </span>
        </div>
        <div></div>
        @if (toShowQuantity(m)) {
          <div class="text-danger fw-bold">
            Quantity: {{ m.quantity }}
          </div>
        }
      </div>
      <div class="menu-button-end">
        <button type="button" class="btn btn-success" (click)="addItem(m)">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
